# 平台名称
APP_NAME = 物联网云平台

# WEB 服务端口
APP_WEB_PORT = 8090

# EMQX 是否启用
EMQX_ENABLE = true

# EMQX 管理面板地址
EMQX_PANEL = http://xx.xx.xxx.xx:18083

# EMQX API KEY
EMQX_PANEL_API_KEY = xxxx

# EMQX API SECRET KEY
EMQX_PANEL_API_SECRET_KEY = xxxx

# REDIS 地址
REDIS_HOST = xx.xx.xx.xx

# REDIS 端口
REDIS_PORT = xxxx

# REDIS 密码
REDIS_PASSWORD = xxxx