# 平台名称
APP_NAME = RisenIOT

# WEB 服务端口
APP_WEB_PORT = 8090

# EMQX 是否启用
EMQX_ENABLE = true

# EMQX 管理面板地址
EMQX_PANEL = http://xxx.xxx.xxx:18083

# EMQX API KEY
EMQX_PANEL_API_KEY = example

# EMQX API SECRET KEY
EMQX_PANEL_API_SECRET_KEY = example

