## IDE
.idea
.vscode
.fleet

## golang
vendor
go.sum
go.mod

## binary
RisenIOT
*.exe
*.exe~

## log
*.log
*.log~
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

## Node
node_modules
dist
dist-ssr
*.local
.vite
package-lock.json
yarn.lock
pnpm-lock.yaml
test
test_*

# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.rp

# todo
TODO*.md

# config
.env
.bak
config/rbac.csv